<% provide(:title, 'login page') %>
<h2>Login</h2>

<div class="row">
<div class="col-md-6 col-md-offset-3">
  <%= form_for :session do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    
    <%= f.label :password %>
    <%= f.password_field :password %>
  <% end %>
</div>
</div>
<%= link_to "Submit",new_record_path,
                                   class: "btn btn-lg btn-primary" %>

