<h1></h1>


<table row='2px'>
 <tr>
  <th>first_name</th>
  <th>last_name</th>
  <th>user_name</th>
  <th>email</th>
  <th>phone_number</th>

 </tr>
<% @user.each do |b|%>
<tr>
<td><%= b.first_name%></td>
<td><%= b.last_name%></td>
<td><%= b.user_name%></td>
<td><%= b.email%></td>
<td><%= b.phone_number%></td>
</tr>
<%end%>
</table>
